body {
  background-color: black;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.squares {
  background-color: darkred;
  border: solid 1px black;
  height: 10vh;
  width: 10vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  color: burlywood;
}

#square1 {
  margin: 0px 3px;
}

#square4 {
  margin: 0px 3px;
}

#square7 {
  margin: 0px 3px;
}

table {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

#reset {
  height: 2rem;
  width: 7rem;
}

.scoreboard {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scores {
  width: 50vh;
  display: flex;
  justify-content: space-around;
}

.players {
  display: flex;
  color: burlywood;
  font-size: xx-large;
  height: 10vh;
  flex-direction: column;
  align-items: center;
}

.score {
  color: burlywood;
}